<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272995278738-8jlr23com185kqv4orv6rv0jmg4oodog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272995278738-8jlr23com185kqv4orv6rv0jmg4oodog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272995278738-mvo74bkjhh2ejeusipkuars8h0uk92rh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqayzG59jwLKMg9V-C5RzxlMH_tYlGSE8</string>
	<key>GCM_SENDER_ID</key>
	<string>272995278738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.urLiftDriverApp</string>
	<key>PROJECT_ID</key>
	<string>urliftuser-bee29</string>
	<key>STORAGE_BUCKET</key>
	<string>urliftuser-bee29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272995278738:ios:116bc154b69d9bde30ab4b</string>
</dict>
</plist>